<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johannfjs.mod1class1"
    android:versionCode="1"
    android:versionName="1.0">
    <!-- En la play store el version name es la versión que podrá visualizar
    el usuario mientras que el version code es la versión interna que se manejara -->

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    <!-- El targetSdkVersion de preferencia debe de ser igual que el maxSdkVersion -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Activitys
            Servicios
            Providers
            -->
        <!-- com.johannfjs.mod1class1.MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        -->
    </application>

</manifest>
